/* index/ landing page */

.jumbotron{
  background-image: url("../img/rust.jpg");
  background-size: cover;
}

h1{
  text-align: center;
  background:rgba(255,255,255,0.7);
  font-family: 'Homemade Apple', cursive;
  padding-top:20px;
  margin-bottom: 20px;
}

.underhead{
  text-align: center;
  background:rgba(255,255,255,0.7);
  font-family: 'Open Sans', sans-serif;
}

.container {
   width: 85%;
   margin: 0 auto;
   font-family: 'Open Sans', sans-serif;
}

body::after {
  content: "jumbotron";
  background: url("../img/rust.jpg");
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

__________________________________________________________________________
/* contact */

.contact-jumbotron{
  background-image: url("../img/stones.jpg");
  background-size: cover;
}

h1{
  text-align: center;
  background:rgba(255,255,255,0.7);
  font-family: 'Homemade Apple', cursive;
  padding-top:20px;
  margin-bottom: 20px;
}

.contact-underhead{
  text-align: center;
  background:rgba(255,255,255,0.7);
  font-family: 'Open Sans', sans-serif;
}

.contact-container {
   width: 85%;
   margin: 0 auto;
   font-family: 'Open Sans', sans-serif;
}

body::after {
  content: "jumbotron";
  background: url("../img/stones.jpg");
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
